In [ ]:
data work.monsters;
 input monster $ hp dmg;
    datalines;
pikachu 30 10
charizard 120 50
;
run;

In [1]:
data work.monsters2;
    input monster $ hp dmg;
       datalines;
   pikachu 30 10
   charizard 120 50
   squirtle 5 5
   ;
run;

Executing DATA step: data work.monsters2;
input monster $ hp dmg;
datalines;
pikachu 30 10
charizard 120 50
squirtle 5 5
;
run;
Saved dataset work.monsters2 to library work
Created dataset: work.monsters2 with 3 observations

Dataset: work.monsters2 (3 obs, 3 vars)