In [1]:
data work.monsters;
 input monster $ hp dmg;
    datalines;
pikachu 30 10
charizard 120 50
;
run;

Executing DATA step: data work.monsters;
input monster $ hp dmg;
datalines;
pikachu 30 10
charizard 120 50
;
run;
Saved dataset work.monsters to library work
Created dataset: work.monsters with 2 observations

Dataset: work.monsters (2 obs, 3 vars)

In [1]:
data work.monsters2;
    input monster $ hp dmg;
       datalines;
   pikachu 30 10
   charizard 120 50
   squirtle 5 5
   ;
run;

Executing DATA step: data work.monsters2;
input monster $ hp dmg;
datalines;
pikachu 30 10
charizard 120 50
squirtle 5 5
;
run;
Saved dataset work.monsters2 to library work
Created dataset: work.monsters2 with 3 observations

Dataset: work.monsters2 (3 obs, 3 vars)

In [3]:
/* Create sample data */
data work.sample;
    input name $ age salary;
    datalines;
John 30 60000
Mary 25 55000
Bob 35 75000
Alice 28 65000
;
run;

Executing DATA step: data work.sample;
input name $ age salary;
datalines;
John 30 60000
Mary 25 55000
Bob 35 75000
Alice 28 65000
;
run;
Saved dataset work.sample to library work
Created dataset: work.sample with 4 observations

Dataset: work.sample (4 obs, 3 vars)

In [5]:
/* Calculate statistics */
proc means data=work.sample;
    var age salary;
run;

Executing PROC: proc means data=work.sample var age salary;
PROC MEANS - Descriptive Statistics
==================================================
Analysis Variables: age, salary

N   | Mean    | Std Dev     | Minimum | Maximum
-----------------------------------------------
4.0 | 29.5    | 4.203173    | 25.0    | 35.0
4.0 | 63750.0 | 8539.125638 | 55000.0 | 75000.0

In [7]:
/* Filter high earners */
%let min_salary = 65000;

proc print data=work.sample;
    where salary >= &min_salary;
run;

Executing PROC: proc print data=work.sample where salary >= 65000;
PROC PRINT - Dataset Contents
==================================================
Observations: 2
Variables: 3

name     | age      | salary
------------------------------
Bob      | 35.0     | 75000.0
Alice    | 28.0     | 65000.0

In [1]:
data work.monsters3;
    input monster $ hp dmg;
       datalines;
   pikachu 30 10
   charizard 120 50
   squirtle 5 5
   current 8 8
   ;
run;

Executing DATA step: data work.monsters3;
input monster $ hp dmg;
datalines;
pikachu 30 10
charizard 120 50
squirtle 5 5
current 8 8
;
run;
Saved dataset work.monsters3 to library work
Created dataset: work.monsters3 with 4 observations