In [ ]:
data work.test3;
set work.employees;
bonus = salary * 0.1;
run;