# Open-SAS Test Notebook

This is a fresh notebook to test the Open-SAS kernel.

**Kernel**: Make sure to select "osas" as the kernel!

In [ ]:
/* Create sample data */
data work.test_data;
    input name $ age salary;
    datalines;
John 30 60000
Mary 25 55000
Bob 35 75000
Alice 28 65000
;
run;

In [ ]:
/* Display the dataset */
proc print data=work.test_data;
run;

In [ ]:
/* Basic statistics */
proc means data=work.test_data;
    var age salary;
run;

In [ ]:
/* Create a new variable */
data work.enhanced_data;
    set work.test_data;
    salary_category = ifn(salary > 60000, 'High', 'Medium');
run;

In [ ]:
/* Display enhanced data */
proc print data=work.enhanced_data;
run;

In [ ]:
/* Frequency analysis */
proc freq data=work.enhanced_data;
    tables salary_category;
run;